.cards {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .cards {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
