.headlines__subtitle {
  color: #000;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
}

@media (max-width: 767px) {
  .headlines__subtitle {
    font-size: 28px;
  }
}

@media (max-width: 424px) {
  .headlines__subtitle {
    font-size: 22px;
  }
}
