.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 0 68px;
}

@media screen and (max-width: 1023px) {
  .header__nav {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    padding: 20px 15px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    transition: .6s all;
  }
}

@media screen and (max-width: 424px) {
  .header__nav {
    width: 65%;
  }
}
