.header__nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    flex-direction: column;
    background-color: rgba(0, 0, 0,.8);
  }
}
