.place__paragraph {
  color: #262626;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.45px;
  line-height: 1.6;
  margin: 0 0 20px;
  max-width: 370px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}
