@font-face {
  font-family: 'PTSansCaption';
  font-style:  normal;
  font-weight: 400;
  src: url(./PTSansCaption-Regular.woff) format('woff'),
       url(./PTSansCaption-Regular.woff2) format('woff2'),
       url(./PTSansCaption-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'PTSansCaption';
  font-style:  normal;
  font-weight: 700;
  src: url(./PTSansCaption-Bold.woff) format('woff'),
       url(./PTSansCaption-Bold.woff2) format('woff2'),
       url(./PTSansCaption-Bold.ttf) format('ttf');

}
