.headlines__title {
  color: #fecda7;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 31px;
  text-transform: uppercase;
}

@media (max-width: 424px) {
  .headlines__title {
    margin-bottom: 15px;
  }
}
